/*Make Frame-center*/
.container-L {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Frame*/
.login_box {
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  font-size: 14px;
  border-radius: 5px;
  top: 200px;
}

/* Keeps the logo and Button separate */
.i {
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;
  width: 420px;
}
