* {
  margin: 0;
  padding: 0;
}

/*Make Frame-center*/
.container-L {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/*Background image*/
body {
  height: 120vh;
  width: 100%;
  background-image: linear-gradient(
    rgb(250, 250, 250),
  );
}

/* Frame*/
.login_box {
  background-color: rgba(223, 223, 223, 0.913);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  font-size: 14px;
  border-radius: 5px;
  top: 200px;
}

/*Le Crimson logo*/
.logo {
  color: rgb(3, 3, 3);
  text-align: center;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.i {
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;
  width: 420px;
}

.login-btn {
  /*Button shape*/
  position: relative;
  padding: 10px 100px 10px 100px;
  width: 304px;
  height: 44px;

  border-radius: 1px;
  background-color: rgba(245, 10, 10, 0.696);
  border-color: rgb(243, 243, 243);
  top: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;

  /*Button text*/
  font-family: Roboto, arial, sans-serif;
}


/*remove underline*/
a {
  text-decoration: none;
}
