.cellwithstatus {
  padding: 5px;
  border-radius: 5px;
  background-color: #00ff9d1a;
  color: #003fff;
}

.cellAction1 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}

.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: rgb(139, 0, 9);
  border: 1px dotted rgba(139, 0, 0, 0.596);
  cursor: pointer;
}
