.pro-img {
  width: 20px;
}

.pro-button {
  background-color: #de1414;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 30px;
  transition: 0.4s;
  position: relative;
  top: 0px;
  left: 200px;
}
.td {
  text-align: center;
}

.table12 {
  border: 2px solid white;
  width: 800px;
  height: 200px;
}