.Profile-comm-Sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(247, 245, 242);
  min-height: 100vh;
}
.comm-top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comm-logo {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(226, 43, 46);
}

hr {
  height: 0;
  border: 0.5px solid rgb(251, 250, 249);
  margin-bottom: 10px;
}

.center {
  padding-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comm-lists {
  margin-top: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.comm-lists:hover {
  background-color: rgba(255, 0, 0, 0.096);
}

.side-comm-span {
  font-size: 15px;
  font-weight: 600;
  color: rgb(31, 29, 29);
  margin-left: 10px;
}

.side-title {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(11, 11, 11);
  font-weight: bold;
}

#icon {
  color: rgb(225, 19, 19);
  font-size: 20px;
}
