.head {
  cursor: pointer;
  /* margin-right: 1000px; */
  align-items: left;
}
.logo-img{
  width:400px;
}
.head .logo img {
  width: 400px;
}
header {
  background-color: #000;
  color: #fff;
}
header li {
  margin-right: 30px;
  transition: 0.5s;
}
header li:hover {
  color: crimson;
  cursor: pointer;
}
header a {
  color: #fff;
}
.barIcon {
  font-size: 25px;
  background: none;
  color: #fff;
  display: none;
  border: none;
}
@media screen and (max-width: 768px) {
  .head .ad {
    display: none;
  }
  header .icon {
    display: none;
  }
  header .flex {
    display: none;
  }
  .barIcon {
    display: block;
  }
  header .navbar {
    position: absolute;
    display: block;
    background-color: #fb4c35;
    left: 0;
    top: 21%;
    transition: 0.5s;
    width: 100%;
    height: 20vh;
    z-index: 5;
    padding: 50px;
  }
  header .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li {
    margin-bottom: 30px;
  }
}
.container-h {
  max-width: 95%;
  margin: auto;
}

.paddingSmall {
  padding: 10px 0;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex {
  display: flex;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paddingTB {
  padding: 10px 1;
}
