.a-widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px black;
  box-shadow: 2px 4px 10px 1px grey;
  border-radius: 10px;
  height: 100px;
}

.widget-left,
.widget-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-title {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.widget-counter {
  font-size: 28px;
  font-weight: 300;
}

.widget-morelink {
  width: max-content;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
}

.widget-percentage {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.widget-percentage positive {
  color: green;
}

.widget-percentage negative {
  color: red;
}

.widget-person-icon {
  font-size: 18px;
  padding: 5px;

  border-radius: 5px;
  align-self: flex-end;
}
