/* .footer-hp {
  position: fixed;
  bottom: 0%;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  display: flex;
  left: 41%;
}

.footer a {
  margin: 10px;
  padding: 10px;
  color: #151414;
  font-family: Roboto, arial, sans-serif;
  font-size: 25px;
}

.footer a:hover {
  background-color: hsla(0, 63%, 72%, 0.651);
}

.footer p {
  position: fixed;
  left: 200%;
} */