.th2 {
  font-size: 20px;
  background-color: rgba(244, 131, 111, 0.267);
  padding: 20px;
}

.td2 {
  text-align: left;
  font-size: large;
  padding: 20px;
}

.table {
  border: 5px solid white;
  width: 800px;
  height: 400px;
}
