.blockComm {
  display: flex;
}
.blockCommContainer {
  flex: 4;
}
.blocklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px;

  border-radius: 10px;
  height: 500px;
  width: 720px;
  margin: 50px;
}
