.about {
  width: 100%;
}
.Aimg {
  height: auto;
  width: 600px;
}

.about-text {
  width: 550px;
}

.main {
  width: 2000px;
  padding-top: 200px;
  max-width: 95%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1 {
  color: rgba(249, 13, 13, 0.71);
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
  align-items: center;
}

.about-text h5 {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.pp {
  color: rgb(25, 23, 25);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
  letter-spacing: 1px;
}

.buttonabout {
  background-color: rgba(249, 13, 13, 0.71);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  margin-left: 30px;
}

.buttonabout:hover {
  background: transparent;
  cursor: pointer;
  border: 2px solid #f9004d;
  color: #f9004d;
}
