.footerpreferences{
    position: relative;
    bottom: -400px;
    align-items: center;
    text-align: center;
}

.footerpreferences a {
    margin: 10px;
    padding: 10px;
    color: #151414;
    font-family: Roboto, arial, sans-serif;
    font-size: 25px;
  }
  
  .footerpreferences a:hover {
    background-color: hsla(0, 73%, 34%, 0.651);
  }
