.profilecard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px black;
  box-shadow: 2px 4px 10px 1px #80808069;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
  width: 620px;
  margin-left: 60px;
}

.profilecard-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-Name {
  font-size: 18px;
  font-weight: bold;
  color: grey;
  padding: 5px;
}
.pro-img {
  width: 20px;
}

.pro-button {
  background-color: #de1414;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 30px;
  transition: 0.4s;
  position: relative;
  top: 0px;
  left: 200px;
}
